<template>
  <div class="home">
    <img id="tron" alt="Vue logo" src="../assets/tron.jpeg">
    <h1>Long Live the User!</h1>
    <p>I FIGHT FOR THE USER!</p>
    <h3>Enter User Name</h3>

    <div class="form-group">
      <label for="usr">Name: </label>
      <input type="text" class="form-control" v-model="name">
    </div>
    
    <div>
      <h1>Welcome...{{ name }}</h1>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

@Component({
  components: {
  },
})
export default class Home extends Vue {
  data() {
    return {
      name: '',
    };
  }
}
</script>
<style scoped>
.home {
   justify-content: center;
   flex-direction: column;
}
#tron {
  width: 25%;
  margin: auto;
}
input {
  border-radius: 5px;
  border: 1px solid gray;
  box-shadow: 0 1px 0 0 gray;
}
</style>
