<template>
  <div class="inputContainer">
    <div v-if="isSeen">
      <img id="obiWan" alt="Vue logo" src="../assets/HelloThere.jpeg">
      <h3>We don't have your information, please enter your name below:</h3>
      <form class="userInput" @submit.prevent="onSubmit">
        <input type="text" id="userName" v-model="userName" placeholder="Please enter User name...">
        <button type="submit">Submit</button>
      </form>
    </div>

    <div v-else>
      <User/>
    </div>
    
    <div class="errorContainer" v-show="errors.length">
      <p/>
      <b>Please correct the following error(s):</b>
      <ul>
        <li v-for="error in errors" :key="error">{{ error }}</li>
      </ul>
    </div>
  </div>
</template>

<script>
import User from '@/components/User.vue';
import { mapActions, mapGetters } from 'vuex';

export default {
  name: 'RequestName',
  components: {
    User,
  },
  data() {
    return {
      userName: null,
      errors: [],
    };
  },
  methods: {
    ...mapActions(['loadUserName', 'changeVisibility']),
    onSubmit(e) {
      if (this.userName) {
        this.loadUserName(this.userName);
        this.changeVisibility(this.isSeen);
      }

      this.errors = [];

      if (!this.userName) {
        this.errors.push('User name required.');
      }
      e.preventDefault();
    },
  }, 
  computed: {...mapGetters({
    isSeen: 'isSeen'
  })}
};
</script>

<style scoped>
.inputContainer {
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: 900px;
  align-content: center;
  justify-content: center;
}
form {
  display: flex;
}
input[type="text"] {
  border-radius: 5px;
  flex: 10;
  padding: 10px;
  border: 1px solid #080808;
  outline: 0;
}
button {
  border-radius: 5px;
  flex: 2;
  background: rgb(34, 169, 214);
  color: #fff;
  cursor: pointer;
}
.errorContainer {
  width: 240px;
  align-self: center;
}
</style>