<template>
  <div class="user">
    <img id="grievous" src="../assets/Grievous.jpg">
    <h1>Welcome, General {{ userName }}!</h1>
    <p>Below is your information...</p>
    <div class="tableContainer">
      <table class="center">
        <thead>
          <tr>
            <th>User Name</th>|
            <th>Office Location</th>|
            <th>Mobile Phone</th>|
            <th>Job Title</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ userName }}</td> |
            <td>{{ allEmployee.officeLocation }}</td>|
            <td>{{ allEmployee.mobilePhone }}</td>|
            <td>{{ allEmployee.jobTitle }}</td>
          </tr>
        </tbody>
      </table>
      <button @click="submit">Leave Page</button>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';

export default {
  name: 'Employees',
  methods: {
    ...mapActions(['loadEmployees', 'setUserName', 'changeVisibility']),
    submit(e) {
      this.changeVisibility(this.isSeen);
    },
  },
  computed: mapGetters(['allEmployee', 'userName', 'isSeen']),
  created() {
    this.loadEmployees();
  },
};
</script>

<style scoped>
.user {
  display: flex;
  flex-direction: column;
  width: 900px;
}
#grievous {
  width: 25%;
  margin: auto;
  padding: 10px;
}
table.center {
  margin-left: auto;
  margin-right: auto;
  border-spacing: 10px;
  border-collapse: separate;
}
tbody {
  text-align: center;
}
button {
  border-radius: 5px;
  margin-top: 30px;
  width: 100px;
  height: 40px;
  background: rgb(34, 169, 214);
  color: #fff;
  cursor: pointer;
}
</style>
