<template>
  <div id="app">
    <div id="nav">
      <v-btn round flat class="zoom">
        <router-link to="/">Home</router-link>
      </v-btn>
      <v-btn round flat class="zoom">
        <router-link to="/user">User</router-link>
      </v-btn>
      <v-btn round flat class="zoom">
        <router-link to="/about">About</router-link>
      </v-btn>
    </div>
    <router-view class="routerView"/>
  </div>
</template>

<style lang="scss" scoped>
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;

}
#nav {
  padding: 30px;
  background-color: rgb(34, 169, 214);
  box-shadow: 2px 2px 3px;
  text-align: left;
  a {
    font-weight: 900;
    color: rgb(4, 4, 14);
    padding: 10px;
    text-decoration: none;
    &.router-link-exact-active {
      font-weight: 900;
      color: rgba(53, 58, 58, 0.562);
    }
  }
}
.routerView {
    display: flex;
    align-content: center;
    justify-content: center;
    justify-self: center;
    margin: auto;
}
.zoom {
  transition: transform 0.1s;
  &:hover {
    transform: scale(1.3);
  }
}
</style>
